
$color-mono-100: #f5f6fa;
$color-mono-200: #dcdde1;
$color-mono-900: #2f3640;

$color-primary: #273c75;
$color-secondary: #c23616;
$color-tertiary: #e1b12c;

$color-body: $color-mono-100;
$color-font: $color-mono-900;

$site-width: 80rem;

$icon: 1.5rem;
$icon-lg: 2.5rem;
$icon-xl: 4rem;
$icon-circle: 1.5;
